[Unit]
Description=Emacs Server

[Service]
Type=forking
ExecStart=/bin/bash -c '. ~/.profile && /usr/bin/emacs --daemon'
PIDFile=/run/user/1000/emacs/emacs-server.pid
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
