setxkbmap -option "ctrl:swapcaps"
xmodmap -e "keycode any = F20"
xcape -e "Super_L=F20"

export XMODIFIERS=@im=exim
export GTK_IM_MODULE=xim
export QT_IM_MODULE=xim
export CLUTTER_IM_MODULE=xim
export _JAVA_AWT_WM_NONREPARENTING=1

# TODO investigate why this is necessary while running gnome
if [[ "$DESKTOP_SESSION" && "${DESKTOP_SESSION,,}" =~ gnome ]]; then
    xhost +local:
fi
